@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
/* ============
CSS Resets
============== */

* {
    box-sizing: border-box;
    --f-poppins: 'Poppins';
    --f-roboto: 'Roboto';
    --primaryColor: white;
    --secondaryColor: black;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--f-roboto);
}

/* ============
Utility Classes
============*/
.flex {
    display: flex;
}

.container {
    max-width: 70rem;
    margin: 0 auto;
}

.marginTop {
    margin-top: 5rem;
}

.news-hr {
    align-items: center;
}

.news-hr::after {
    content: '';
    height: 0.1rem;
    margin: 0 0.5rem;
    margin-right: 2rem;
    background-color: black;
    flex-grow: 1;
}

.btn {
    width: 8rem;
    margin: 2rem 0;
    padding: 0.6rem;
}

.primaryButton {
    background-color: var(--primaryColor);
}

.primaryButton:hover {
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
}

.secondaryButton {
    background-color: transparent;
    border-color: var(--primaryColor);
    color: var(--primaryColor);
}

.secondaryButton:hover {
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
}

/* =========
General Layout
========= */
h1,
h2,
h3,
h4,
h5 {
    font-family: var(--f-poppins);
}

/* ==========
Header
===========*/
header {
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    padding: 1rem;
    background-color: #f9f950;
    font-family: var(--f-poppins);
}

header>img {
    height: 1.3rem;
}

.h-form {
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.h-form img {
    width: 1rem;
}

.h-form input {
    border: none;
    outline: none;
    padding: 0.3rem;
}

.h-sign>a {
    margin-right: 1rem;
    color: black;
    text-decoration: none;
}

.h-menuBar {
    display: none;
}

/* ========
sub-header
=========*/
.subHeader {
    height: 2rem;
    justify-content: center;
    align-items: center;
    font-size: small;
    background-color: black;
    color: #fff;
}

.subHeader>* {
    padding: 0 1rem;
}

.sh-socials>* {
    fill: #fff;
    margin-right: 1rem;
}

.subHeader>*:first-child,
.subHeader>*:nth-child(5),
.subHeader>*:nth-child(6) {
    border-right: 0.1rem solid #fff;
}

/* ==========
Big-News Section
===========*/

/* .bigNewsContainer{
    flex-direction: row;
} */
.bigNews {
    width: 45%;
    padding: 0 2rem;
}

.bigNews>span {
    font-size: 0.8rem;
    color: gray;
}

.bigNewsImage {
    width: 50%;
    background-image: url(https://t2.genius.com/unsafe/177x177/https%3A%2F%2Fimages.genius.com%2F9b50b5cf8ce0b41e44d5a80112b2b673.1000x1000x1.jpg);
    background-position: center;
    background-size: contain;
}

/* ===============
Small News section
==================*/
.smallNewsContainer {
    margin-top: 4rem;
    justify-content: space-around;
}

.smallNews {
    width: 17rem;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem;
    position: relative;
}

.smallNews::after {
    content: '';
    width: 0.14rem;
    height: 100%;
    background-color: black;
    position: absolute;
    right: 0;
    top: 0;
}

.smallNews:last-child::after {
    width: 0;
    height: 0;
}

.smImage {
    height: 8rem;
    background-image: url("https://t2.genius.com/unsafe/0x801/https%3A%2F%2Fimages.genius.com%2F726fd29ca18c27fd86070104d5695487.999x999x1.png");
    background-position: center;
    background-size: contain;
}

/* ===========
charts section
===========*/
.chartHead {
    justify-content: space-between;
    align-items: center;
}

.chartHead h1 {
    font-size: 4rem;
}

.c-dropDown img {
    height: 0.5rem;
}

.c-dropDown {
    justify-content: space-around;
    align-items: center;
    padding: 0.4rem 1rem;
    border: 0.14rem solid black;
    gap: 1rem;
}

.songDetails {
    width: 100%;
    padding: 0.2rem 0;
    font-size: 1.2rem;
    border-bottom: 0.2rem solid #e5e2e2;
    justify-content: space-between;
}

.songDetails:hover {
    background-color: #e5e2e2;
}

.snoAndSongImg {
    width: 15%;
    justify-content: space-around;
    align-items: center;
}

.snoAndSongImg img {
    height: 3rem;
}

.songName {
    width: 35%;
    justify-content: flex-start;
    position: relative;
}

.songName::after {
    content: 'LYRICS';
    font-size: 0.8rem;
    font-weight: 100;
    margin: 1.7rem 0.5rem;
    color: gray;
}

.singerName {
    width: 25%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: flex-start;
}

.viewsWithFire {
    width: 18%;
    text-align: left;
    font-size: 0.8rem;
    justify-content: space-between;
    align-items: center;
}

.fire {
    color: red;
}

.fire img {
    height: 1.4rem;
}

.viewsWithoutfire {
    width: 18%;
    text-align: left;
    font-size: 0.8rem;
    justify-content: flex-end;
    align-items: center;
}

.view img {
    height: 0.7rem;
}

.chartFooter {
    justify-content: center;
}

/* =============
    Video Section
================ */
.darkbg {
    width: 100%;
    background-color: #212121;
}

.videoContainer {
    flex-direction: column;
    color: white;
}

.videoHead {
    text-align: center;
}

.videoHead h1 {
    margin: 0;
    margin-top: 2rem;
    font-size: 4rem;
}

.videoHead p {
    margin: 0;
    margin-bottom: 2rem;
    color: #f9f950;
}

.videoContent {
    justify-content: space-around;
    gap: 5rem;
}

.video {
    width: 70%;
    position: relative;
}

.video img {
    width: 100%;
    height: 100%;
}

.vbutton button img {
    width: 2rem;
}

.vbutton button {
    border: none;
    outline: none;
    position: absolute;
    right: 0.4rem;
    bottom: .7rem;
}

.videoDiscription {
    width: 26%;
    border-top: 0.15rem solid #d8d8d8;
}

.videoDiscription>svg {
    height: 1.5rem;
    margin-top: 1rem;
}

.videoDiscription span {
    font-size: 0.7rem;
}

.videoFoot {
    justify-content: center;
}

.newsBlocks {
    flex-wrap: wrap;
    justify-content: space-around;
}

.newsBlocks>div {
    width: 16rem;
}

.newsBlocks>div img {
    width: 100%;
    height: 8rem;
}

.latestNews>h1,
.latestNews>p {
    text-align: center;
}

.latestNews>h1 {
    font-size: 3rem;
    margin: 0;
}

.newsB-btn {
    justify-content: center;
}

.community {
    flex-direction: column;
    align-items: center;
}

.community>* {
    width: 50%;
}

.community h1 {
    font-size: 4rem;
    margin: 0;
}

.community>p {
    color: red;
}

.community h1,
.community p {
    text-align: center;
}

.comm-btn>.btn {
    width: 40%;
    margin: 0 2rem;
}

.commScholarTbl {
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.commScholardet {
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2rem solid #ededed;
}

.commScholardet>span {
    font-size: 0.756rem;
    color: red;
}

.scholarDet {
    width: 60%;
    justify-content: flex-start;
    align-items: center;
}

.scholarDet img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.scholarDet>p {
    margin: 0 2rem;
}
footer{
    width: 100vw;
}
.fSection{
    color: white;
    justify-content: space-between;
    align-items: center;
}
.fSocials{
    width: 40%;
}
.fSocials > i{
    font-size: 1.5rem;
    padding: 1rem;
}
.refLinks > ul,
.siteLinks > ul{
    flex-direction: column;
    gap: 1rem;
}
.refLinks > ul li,
.siteLinks > ul li{
    list-style: none;
}
.refLinks > ul li > a,
.siteLinks > ul li > a,
.footUl > li a{
    text-decoration: none;
    color: inherit;
}
.fHr{
    height: 0.02rem;
    border: 0.02rem solid #424242 ;
}
.f-foot{
    color: white;
    letter-spacing: 2;
}
.footUl2{
    flex-wrap: wrap;
    gap: 2rem;
}
@media (max-width:850px) {
    .videoContent {
        flex-direction: column;
        align-items: center;
    }

    .videoDiscription {
        width: 50%;
    }
}

@media (max-width:790px) {
    .subHeader>* {
        padding: 0 0.4rem;
    }

    .sh-socials>* {
        margin-right: 0.4rem;
    }

    .smallNewsContainer {
        flex-wrap: wrap;
        gap: 4rem;
    }

    .smallNews:nth-child(2n)::after {
        width: 0;
    }

    .smallNews::after {
        right: -10%;
    }

    .community h1 {
        font-size: 2.8rem;
    }

    .comm-btn>.btn {
        font-size: 0.7rem;
    }
    .fSection{
        flex-direction: column;
        gap: 5rem;
        align-items: start;
    }
    .fSocials{
        width: 100%;
    }
}

@media (max-width:645px) {
    .marginTop {
        margin-top: 4rem;
    }

    .h-form,
    .h-sign {
        display: none;
    }

    .h-menuBar {
        display: block;
    }

    .subHeader {
        display: none;
    }

    .bigNewsContainer {
        flex-direction: column-reverse;
        align-items: center;
    }

    .bigNews {
        width: 80%;
    }

    .bigNewsImage {
        width: 80%;
        height: 23rem;
    }

    .singerName {
        width: 0;
    }

    .smallNewsContainer {
        flex-direction: column;
        align-items: center;
    }

    .smallNews::after {
        width: 0;
    }

    .smallNews {
        width: 60%;
    }

    .chartHead {
        margin: 2rem 0;
        flex-direction: column;
        align-items: center;
    }

    .chartHead h1 {
        margin: 0;
    }

    .snoAndSongImg img {
        width: 2rem;
        height: 2rem;
    }

    .viewsWithFire,
    .viewsWithoutfire {
        justify-content: flex-start;
    }

    .fire {
        display: none;
    }

    .community h1 {
        font-size: 2rem;
    }
}