@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@300;500&family=Roboto+Mono:ital,wght@1,600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    background: linear-gradient(45deg, red, blue) no-repeat fixed;
}

.navbar {
    height: 80px;
    background-color: #f0eded;
    margin:20px 25px;
    border-radius: 5px;
    overflow: hidden;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.navbar-nav h1 {
    font-size: 24px;
}

.navbar-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.navbar-li {
    list-style: none;
    margin: 0 26px;
}

.navbar-items {
    color: #555c61;
    text-decoration: none;
}

.navbar-items:hover {
    color: #2e2d2d;
    font-weight: 800;
}

.input-box button {
    padding: 3px;
    border: none;
}

.input-box button:focus {
    border-radius: 60px;
    background-color: #31a6ff;
}

.input-box button img {
    width: 18px;
}

.input-box {
    display: flex;
    padding: 0 20px;
    position: relative;
    font-weight: bold;
}

.input-box input {
    border: 1px solid #4b4949;
    border-radius: 13px;
    padding: 5px 15px;
    background-color: #dfdede;
    margin: 0 10px;
    outline-color: #31a6ff;
}

.content {
    padding: 0 50px;
}
.con-det h1 {
    font-size: 35px;
}

.bot img {
    width: 70px;
    position: fixed;
    right: 60px;
    bottom: 40px;
}

.con-image {
    width: 200px;
    height: 200px;
    margin: 0 20px;
}

.con-det {
    color: #d6ebfe;
    float: right;
    padding: 50px 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

