@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@300;500&family=Roboto+Mono:ital,wght@1,600&display=swap');

body{
    background-color: #2a2828;
    font-family: Montserrat;
    color: aliceblue;
    margin: 0;
    padding: 0;
}

.menu{
    float:left;
    background-color: #2f3030;
    width:150px;
    height: 700px;
    border-radius: 8px;
    margin:0;
}

.logo-image img{
    width: 150px;
    background-color: #3c89fc;
    border-top-left-radius: 12px;
    border-top-right-radius: 8px;
}
.navbar-ul{
    padding: 0;
    margin: 0;
}
.navbar-li{
    list-style: none;
    padding:10px 30px;
    border-bottom: 3px dotted #2a2828;
}

.navbar-li a{
    text-decoration: none;
    color:aliceblue;
    text-align: center;
}

.con-details{
    text-align: center;
    float: right;
    position: absolute;
    left:180px;
}

.con-details h1{
    color:#6b46f4;
    font-size: 30px;
}

.con-details img{
    width: 500px;
}