.container{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clockBG.png);
    background-size: 100%;
}
#hour,#minute,#second{
    position: absolute;
    border-radius: 30px;
    transform-origin: bottom;
}
#hour{
    width: 1vw;
    height: 10vw;
    top: 24.5%;
    left: 48.65%;
    background: #000;
}
#minute{
    width: 0.6vw;
    height: 14vw;
    top: 15.25%;
    left: 49.2%;
    background: #000;
}
#second{
    width: 0.4vw;
    height: 17vw;
    top: 7%;
    left: 49.5%;
    background: red;
}